<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Login Page: Jack&Son Website">
    <title>Jack & Son Nail Salon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha3841BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>

<body class="bd-2">
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}" text-decoration="none">
                <img src="{{ url_for('static', filename='photos/js-logo.webp') }}" alt="logo"
                    style="height: 100px; margin-right: 10px; border-radius: 50%;"><span id="headline">Jack & Son Nails
                    Spa<span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('services') }}">Services</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('nailcare') }}">NailCare</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ url_for('reservation') }}">Book</a>
                </li>

                <!-- Show Profile link if logged in, otherwise show login link -->
                {% if session.get('loggedin') %}
                    <li>
                        <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </nav>

    <div id="about-us-bar">
        <h1>About Us</h1>
    </div>


    <div class="about-container">
    <div class="gallery-container">
        <div class="gallery">
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/rotate1.avif') }}" alt="Image 1"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/rorate2.avif') }}" alt="Image 2"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/rorate3.avif') }}" alt="Image 3"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/2024-10-18 11.17.35.jpg') }}" alt="Image 4"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/2024-10-18 11.17.54.jpg') }}" alt="Image 5"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/2024-10-18 11.18.04.jpg') }}" alt="Image 6"></div>
            <div class="gallery-item"><img src="{{ url_for('static', filename='photos/2024-10-18 11.18.19.jpg') }}" alt="Image 7"></div>
        </div>
        <!-- Use url_for to dynamically link to the login page -->
        <a href="{{ url_for('login') }}" class="login-overlay">Make an Appointment</a>
    </div>
    <div class="text-container">
        <h2>Welcome to Jack & Son Nails Spa</h2>
        <p>
            Welcome to Jack & Son Nails Spa, located at a beautiful spot on Black Horse Pike, NJ. Our spa offers the
            ultimate pampering experience and is dedicated to restoring your beauty with the help of our caring,
            professional staff.

            At Jack & Son Nails Spa, you’ll enjoy top-quality services at affordable prices in a clean and relaxing
            atmosphere. We stay up-to-date with the latest technology and trends in the nail industry to ensure you
            receive the best care possible. With years of experience, our talented team takes pride in delivering
            excellent service every time. Your comfort and satisfaction are our top priorities, and we are committed
            to providing meticulous and thoughtful care.

            We understand the importance of a healthy and safe environment for our valued guests. That’s why we take
            the necessary steps to clean, disinfect, and sanitize all our tools and equipment after every use,
            adhering to the highest industry standards.

            We look forward to welcoming you to Jack & Son Nails Spa, where we’re ready to enhance your beauty and
            provide you with an unforgettable experience.
        </p>
    </div>
</div>


    <div id="our-service">
    <h2>Our Services</h2>
    <div class="service-cards">
        <div class="service-card">
            <img src="{{ url_for('static', filename='photos/ser1.avif') }}" alt="Service 1">
            <h3>Manicure</h3>
            <p>Get the perfect manicure with our expert team. We offer various styles to suit your needs.</p>
        </div>
        <div class="service-card">
            <img src="{{ url_for('static', filename='photos/ser2.avif') }}" alt="Service 2">
            <h3>Pedicure</h3>
            <p>Relax and rejuvenate your feet with our special pedicure treatments for smooth skin.</p>
        </div>
        <div class="service-card">
            <img src="{{ url_for('static', filename='photos/ser3.avif') }}" alt="Service 3">
            <h3>Nail Care</h3>
            <p>Experience a nail design like an art of an artisan that leaves your nails glowing and smooth.</p>
        </div>
        <div class="service-card">
            <img src="{{ url_for('static', filename='photos/ser4.avif') }}" alt="Service 4">
            <h3>Waxing</h3>
            <p>Our professionals will give you a fresh, pain-free, stylish look that complements your personality.</p>
        </div>
    </div>
</div>



    <div id="social-medias">
    <h2>Follow Us on Social Media</h2>
    <div class="social-media-icons">
        <a href="https://www.facebook.com/jackandsonnailsspa?mibextid=LQQJ4d" target="_blank"><img
                src="https://img.icons8.com/?size=100&id=118467&format=png" alt="facebook"></a>
        <a href="https://www.instagram.com/jackandsonnailspa/" target="_blank"><img
                src="https://img.icons8.com/?size=100&id=32309&format=png" alt="instagram"></a>
        <a href="https://g.co/kgs/RyQKpX3" target="_blank"><img
                src="https://img.icons8.com/?size=100&id=17904&format=png" alt="Google"></a>
        <a href="https://www.yelp.com/biz/jack-and-son-nails-spa-egg-harbor-township-3?osq=jack+%26+son&override_cta=Request+a+consultation"
            target="_blank"><img src="https://img.icons8.com/?size=100&id=38500&format=png" alt="yelp"></a>
    </div>
</div>

<div id="bottom-bar" style="background-color: #333; color: #fff; padding: 20px; text-align: center;">
    <div id="bottom-bar-text" style="display: flex; flex-direction: column; align-items: center;">
        <div id="bottom-bar-logo" style="margin-bottom: 10px;">
            <p style="margin: 0;">
                <img src="https://img.icons8.com/?size=100&id=9659&format=png" class="icon-small" alt="phone-icon">
                (609) 380 4341<br>(609) 380 4412
            </p>
            <p style="margin: 0;">
                <img src="https://img.icons8.com/?size=100&id=12580&format=png" class="icon-small" alt="email-icon">
                <a href="mailto:jacksonnailsspa@gmail.com" id="mail" style="color: #fff; text-decoration: underline;">
                    jacksonnailsspa@gmail.com
                </a>
            </p>
        </div>
        <p style="margin-top: 10px;">&copy; <span id="year"></span>&copy; All rights reserved to the Administration and Development Team</p>
    </div>
</div>

<script>
    // Automatically update the year
    document.getElementById("year").textContent = new Date().getFullYear();
</script>




    <script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>